<h2 class="display-5 my-2">Tech works!</h2>

<p class="lead">Ponizej linki do zasobow angular i anglular fire:</p>

<a href="https://www.npmjs.com/package/@angular/fire">NPM The official Angular library for Firebase. @angular/fire</a>

<p>ng add @angular/fire</p>

<a
  href="https://www.google.com/search?q=how+to+install+firebase+angular&rlz=1C1AWFC_enPL932PL932&sxsrf=ALeKk01fzChz2XCQHffblZ_SN8aXtfwfqw%3A1616536335835&ei=D2NaYJHCMsGurgSh4I7ICQ&oq=how+to+install+firebase+angular&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgcIABCwAxBDOgcIABBHELADOgQIABATOgUIABDLAVCu8QFYn4UCYI-HAmgBcAJ4AIABaogBtQaSAQM3LjKYAQCgAQGqAQdnd3Mtd2l6yAEKwAEB&sclient=gws-wiz&ved=0ahUKEwjRhcGQs8fvAhVBl4sKHSGwA5kQ4dUDCA0&uact=5">how
  to install firebase angular</a>

<p>how to install firebase angular: npm i angularfire2</p>

<p class="text-info">Jeff Deleney </p>

<code>npm install firebase @angular/fire</code>

<br>

<a href="https://fireship.io/snippets/install-angularfire/" class="btn btn-primary mt-4">Klik Me</a>